<!doctype html>
<html lang="en">
    <head>
        <title>Mindspace Web</title>
        <link rel="stylesheet" href="{{ "css/style.css" | make_url }}">
    </head>
    <body>
        <h1>Mindspace</h1>
        <h2>Messages</h2>
        <div id="messages" aria-live="polite"></div>
        <hr>
        <div aria-live="polite" id="message" class="sr-only"></div>
        <form id="loginForm">
            <h2>Login</h2>
            <p><label>Username: <input type="text" id="username"></label></p>
            <p><label>Password: <input type="password" id="password"></label></p>
            <p><input type="submit" id="login" value="Login"></p>
        </form>
        <script src="/socketurl.js"></script>
        <script src="https://chrisnorman7.github.io/mindspace.js/mindspace.js"></script>
        <script src="{{ "js/login.js" | make_url }}"></script>
        <script src="{{ "js/constants.js" | make_url }}"></script>
        <script src="{{ "js/commands/general.js" | make_url }}"></script>
    </body>
</html>